confession-page.zip
public/assets/stickers/ditto/*.png
!public/assets/stickers/ditto/001.png
!public/assets/stickers/ditto/002.png
!public/assets/stickers/ditto/003.png
!public/assets/stickers/ditto/004.png
!public/assets/stickers/ditto/005.png
!public/assets/stickers/ditto/006.png
!public/assets/stickers/ditto/007.png
!public/assets/stickers/ditto/008.png
!public/assets/stickers/ditto/009.png
!public/assets/stickers/ditto/010.png
!public/assets/stickers/ditto/011.png
!public/assets/stickers/ditto/012.png
!public/assets/stickers/ditto/013.png
